[paths]
source =
   src
   */site-packages

[run]
branch = true
source =
    record_converter
parallel = true
omit =
    src/record_converter/__main__.py
    src/record_converter/cli.py

[report]
show_missing = true
precision = 2
omit =
    *migrations*
    src/record_converter/__main__.py
    src/record_converter/cli.py

